
        .subscribe-button {
            background-color: #c80000;
            border: none;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 16px;
            padding-left: 16px;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 30px;
            transition: opacity 0.15s;
            margin-left: 20px;
            vertical-align: top;
        
        }
        .subscribe-button:hover{
            opacity: 0.8;
        }
        .subscribe-button:active{
            opacity: 0.5;
        }
        
        
        .join-button{
            background-color: rgb(255, 255, 255);
            border-color: rgb(41, 118, 211);
            border-style: solid;
            border-width: 1px;
            color: rgb(41 118, 211);
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.05s,
            color 0.05s;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: top;
            margin-left: 10px;
            margin-right: 30px;
    
        
        
        }
        .join-button:hover{
            background-color: rgb(41, 118, 211);
            color: rgb(255, 255, 255);
        }
        .join-button:active{
            opacity: 0.7;
        }
    
        .tweet-button{
            background-color: rgb(2, 158, 255);
            color: white;
            border: none;
            height: 36px;
            width: 74px;
            border-radius: 18px;
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            box-shadow: 5px 5px 10px rgba(0, 0,0.15);
            cursor: pointer;
            transition:box-shadow 0.15s;
            vertical-align: top;
        }
        .tweet-button:hover{
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);  
        }
        .join-button:active{
            opacity: 0.8;
        }
